.body{
    -fx-background-color: whitesmoke;
    -fx-padding: 10px;
}
.button{
    -fx-background-color: rgba(0, 0, 0, 0.71);
    -fx-text-fill: whitesmoke;
}
.save-button{
    -fx-background-color: green;
}
.save-button:hover{
    -fx-background-color: #00a900;
}
.clear-button{
  -fx-background-color: red;
}
.clear-button:hover{
    -fx-background-color: rgba(255, 0, 0, 0.69);
}